[submodule "ledger"]
	path = ledger
	url = https://github.com/ledger/ledger
[submodule "Dependencies/mpir"]
	path = Dependencies/mpir
	url = https://github.com/wbhart/mpir
[submodule "Dependencies/mpfr"]
	path = Dependencies/mpfr
	url = https://github.com/BrianGladman/mpfr
[submodule "Dependencies/boost"]
	path = Dependencies/boost
	url = https://github.com/boostorg/boost
